node_modules
web/node_modules
**/dist
**/dist-e2e
.git
.env
.env.*
var
**/*.log
**/test-results
**/playwright-report
**/*.secret
**/*.dump
**/*.env
**/*.env.*
**/*.dump.*
**/*.key
**/*.pem
backups
backup-recovery
